/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  margin: 0px;
}

div#header {
  background: #8c8;
  color: #373;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  padding-top: 15px;
  padding-left: 20px;
  border-bottom: 5px inset #beb;
}

div#content {
  margin: 30px;
  padding: 10px;
  overflow: auto;
}

div#footer {
  background: #8c8;
  color: #373;
  font_size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  height: 1000px;
  text-align: center;
  padding-top: 3px;
  padding-left: 20px;
}
