/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: .7em;
  color: #373;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #373;
  background-color: #fff;
}

a:hover {
  color: #8c8;
  background-color: #fff;
}

#header {
  background: #8c8;
  color: #373;
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 5px inset #beb;
}

#header h1 {
  float: left;
}

#header img {
  float: left;
}

#content {
  float: center;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#footer {
  background: #8c8;
  color: #373;
  font-size: .8em;
  height: 50px;
  text-align: center;
  padding-top: 3px;
}

#footer a {
  background-color: #8c8;
  color: #fff;
}
