// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.odd { background: #cfc }
.even { background: #dfd }

.nav {
  color: #8c8;
  float: center;
  height: 30px;
  font-size: 1.3em;
  font-weight: bold;
}

.nav a {
  color: #373;
  background-color: #fff;
  text-decoration: none;
}

.nav a:hover {
  color: #8c8;
  background-color: #fff;
  text-decoration: underline;
}

div.main {
  height: 220px;
  position: relative;
}

div.score_table {
  float: left;
}

table.board th {
  font-size: 1.2em;
  background: #8c8;
  color: #373;
  width: 45px;
  height: 34px;
}

table.board td { font-size: 1.3em }

table.board { border-collapse: collapse }

table.board tr { padding: 0 }

table.board td { width: 55px; text-align: center; height: 35px }

table.board td#team { width: 170px; text-align: left; padding-left: 8px }

table.board th#team { width: 170px; text-align: left; padding-left: 8px }

table.board td#team img.flag { vertical-align: middle }

table.board th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

table.board th:last-child {
  border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

table.board th:only-child{
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
}

table.board tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
}

table.board tr td:last-child {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

table.board tr:last-child td {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

table.board tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
}

div.box {
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.1em;
  float: right;
  width: 250px;
  height: 300px;
  vertical-align: center;
}

.box_header {
  z-index: 3;
  clear: all;
  border-collapse: collapse;
  font-size: 1.3em;
  padding: 10px 0px 0px 8px;
  background: #8c8;
  height: 25px;
  color: #373;
  text-align: center;
  vertical-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.box_content {
  z-index: 3;
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  width: 248px;
  border: 1px solid #8c8;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

#groups{
  float: center;
  height: 300px;
}

.group {
  border-collapse: collapse;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 1.1em;
  float: left;
  width: 191px;
  height: 300px;
  vertical-align: center;
}

.group_header {
  z-index: 3;
  clear: all;
  border-collapse: collapse;
  font-size: 1.3em;
  padding: 10px 0px 0px 8px;
  background: #8c8;
  height: 25px;
  color: #373;
  text-align: center;
  vertical-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.group_header a {
  background-color: #8c8;
}

.group_header a:hover {
  color: #fff;
}


.flag {
  border: 1px solid #8c8;
}

.group_content {
  background: #dfd;
  z-index: 3;
  border-collapse: collapse;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #8c8;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}


table.scores {
  width: 248px;
  text-align: center;
}

table.scores td { padding-left: 2px; padding-right: 2px; }
table.scores td.home_team { text-align: right; }
table.scores td.away_team { text-align: left; }
